.projectscontainer{
    margin: 20px;
    margin-top: 80px;
}



.projectscontainer {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(10px);
    transition: 
        opacity 0.8s ease-out, 
        transform 0.8s ease-out,
        filter 0.8s ease-out;
}

.projectscontainer.visible {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);

}


.sortby{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.prodj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 200px;
}

.pimg{
    max-width: 500px;
    height: 100%;
    border-radius: 15px;
    align-self: center;
}

.cell {
    display: flex;
    border-top: 1px solid #fff;
    padding: 20px;
    column-gap: 20px;
    transition: filter 0.3s ease, opacity 0.3s ease;

    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  
  

.sortby li{
    list-style-type: none;
}


.sbtn{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(242, 242, 242);
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 3s ease infinite;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    background-size: 300% 300%;
    text-decoration: none;
    -webkit-mask-image: -webkit-radial-gradient(white, white); /* Исправление для Safari */
}

.sbtn::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: inherit; /* Исправление для Safari */
    background-color: #0A0A0A;
    z-index: -1;
}
.sbtn:hover{
    outline: 1px solid #fff;
    border-radius: 25px;

}

.sbtn:hover::before{
    display: none;
}

.descn{
 display: flex;
 flex-direction: column;
 row-gap: 10px;
}


.tec span{
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 300% 300%;
    animation: animatedgradient 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tec{
    color:  #8c8c8c;;
}

.descn button{
   background-color: #0A0A0A;
   border: 1px solid #fff;
   padding: 10px;
   border-radius: 15px;
   }


.btncont{
    display: flex;
}


@media (max-width: 1000px) {
    .prodj{
        flex-direction: column;
        row-gap: 20px;
    }

    .projectscontainer{
        margin: 20px;
        margin-top: 20px;
    
    
    }

    .cell {
        display: flex;
        flex-direction: column;
      }
      

}