.homecontainer{
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 300px;

}




.firstcont, .skillscontainer {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(10px); /* Начальное размытие */
    transition: 
        opacity 0.6s ease-out, 
        transform 0.6s ease-out,
        filter 0.6s ease-out;
}

.firstcont.visible, .skillscontainer.visible {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0); /* Убираем размытие при появлении */
}





.firstcont{
    height: 100vh;
}


.runtext{
    font-size: 25px;


}




.animtext {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 300% 300%;
    animation: animatedgradient 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.gradient-button {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(242, 242, 242);
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 3s ease infinite;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    background-size: 300% 300%;
    text-decoration: none;
    box-sizing: border-box;
}



.gradient-button::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 30px;
    background-color: #0A0A0A;
    z-index: -1;
}
.gradient-button:hover{
    outline: 1px solid #fff;
}

.gradient-button:hover::before{
    display: none;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.runtext{
    width: 75%;
}

.skillscontainer{
    height: 100%;

    
}


.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 50px;

}

.skill.selected {
    position: relative;
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 3s ease infinite;
    background-size: 300% 300%;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 6px;
    animation: verticalFlicker 3s infinite ease-in-out;
}

.skill.selected::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 30px;
    background-color: #0A0A0A;
    z-index: -1;
}


.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0A0A0A;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    animation: verticalFlicker 3s infinite ease-in-out;
}


.skill:hover{
    position: relative;
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 3s ease infinite;
    background-size: 300% 300%;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 6px;
}

.skill:hover::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 30px;
    background-color: #0A0A0A;
    z-index: -1;
}
.skill img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
}

.skillsdescription{
    color: #656565;
    padding: 10px;
    border-top: 1px solid #656565;

}

.sdesc{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;

}


@media (max-width: 1000px) {
    .homecontainer{
        margin: 20px;
        margin-top: 20px;
        margin-bottom: 300px;
    
    }

    .firstcont h1{
        font-size: 30px;

    
    }

    .runtext{
        font-size: 20px;

    
    }

}