.navcontainer{
    margin: 20px;
}
#box {
    position: relative; 
    padding: 20px; 
    background-color: #0A0A0A; 
    border-radius: 8px; 
    overflow: hidden; 
}

.gradient-border::before,
.gradient-border::after {
    content: '';
    position: absolute;
    height: 3px; 
    width: 100%;
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 3s ease infinite;
    background-size: 300% 300%;
    z-index: 1; 
}

.gradient-border::before {
    top: 0; 
    left: 0;
}

.gradient-border::after {
    bottom: 0; 
    left: 0;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-border ul {
    list-style-type: none;
    display: flex;
    column-gap: 15px;
    margin: 0;
    padding: 0;
    z-index: 2; 
    position: relative; 
    justify-content: center;
}



.navl {
    color: white;
    text-decoration: none;
 
}


.navl:hover{
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 300% 300%;
    animation: animatedgradient 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






.languagebtn{
    border: none;
    background-color: #0A0A0A;
    font-size: 16px;
    padding: 0;
  
}

.languagebtn:hover{
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 300% 300%;
    animation: animatedgradient 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menubtn{
    border: none;
    background-color: none;
    display: none;
}
.menubtn img{
    height: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
}


@media (max-width: 1000px) {
  

    #box {
        position: relative; 
        padding: 20px; 
        background-color: #0A0A0A; 
        border-radius: 8px; 
        overflow: hidden; 
    }

    .gradient-border ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 15px;
        margin: 0;
        padding: 0;
        z-index: 2; 
        position: relative; 
        justify-content: center;
    }


    .menubtn{
        border: none;
        background-color: none;
        display: block;
    }

    .close{
        display: none;
    }


    .navl {
        color: white;
        text-decoration: none;
        font-weight: 600;
    }

    .languagebtn{
        border: none;
        background-color: #0A0A0A;
        font-size: 16px;
        padding: 0;
        font-weight: 600;
    }



}